
metrics/\.ipynb_checkpoints/

python/\.ipynb_checkpoints/

structure/\.ipynb_checkpoints/

activation_functions/\.ipynb_checkpoints/

mnist_data/

structure/saver/

opencv/\.ipynb_checkpoints/

nlp/\.ipynb_checkpoints/

estimator/\.ipynb_checkpoints/

ROOT_DATA/IRIS/

estimator/saver/iris_model/

segmentation/\.ipynb_checkpoints/

ROOT_DATA/lesions/segmentation/

segmentation/reduced_dataset/

segmentation/tf_logs/