
metrics/\.ipynb_checkpoints/

python/\.ipynb_checkpoints/

structure/\.ipynb_checkpoints/

activation_functions/\.ipynb_checkpoints/

mnist_data/

structure/saver/

opencv/\.ipynb_checkpoints/

nlp/\.ipynb_checkpoints/

estimator/\.ipynb_checkpoints/

ROOT_DATA/IRIS/

estimator/saver/iris_model/

segmentation/\.ipynb_checkpoints/

ROOT_DATA/lesions/segmentation/

segmentation/reduced_dataset/

segmentation/tf_logs/
misc/knn/\.ipynb_checkpoints/

visualizing_feature_maps/\.ipynb_checkpoints/

libraries/numpy/\.ipynb_checkpoints/

single_operation_examples/\.ipynb_checkpoints/

tf_records/\.ipynb_checkpoints/

dataset/\.ipynb_checkpoints/

TODO/misc/knn/\.ipynb_checkpoints/

TODO/nlp/\.ipynb_checkpoints/

TODO/tf_records/\.ipynb_checkpoints/

TODO/visualizing_feature_maps/\.ipynb_checkpoints/

convolution/\.ipynb_checkpoints/

segmentation/best_params/

TODO/pooling/\.ipynb_checkpoints/

TODO/graph_management/\.ipynb_checkpoints/

TODO/basics/\.ipynb_checkpoints/

libraries/jupyter/\.ipynb_checkpoints/

TODO/tangent/\.ipynb_checkpoints/

TODO/autoencoder/mnist/saver/

TODO/autoencoder/mnist/\.ipynb_checkpoints/

libraries/numba/\.ipynb_checkpoints/
